
<div class="upcoming-events">
  <h1>Upcoming Events</h1>
  <%= render collection: @upcoming_events, partial: 'event' %>
</div>
<div class="latest-events">
  <h2>Latest Events</h2>
  <%= render collection: @latest_events, partial: 'event' %>
</div>