<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Call4papers</h1>
  <p>Protótipo de call4papers para Alagoas Dev Day</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>LIGHTNING TALK - FRONT-END</h2>
    <p>É um ninja front-end? Come HTML, CSS e JS com farinha? Quer falar sobre código, processos ou sua experiência? Manda ver!</p>
    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-md-4">
    <h2>LIGHTNING TALK - BACK-END</h2>
    <p>Expresse seu código com palavras. Melhorias de código, ferramentas ou qualquer processo para um programador.</p>
    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
 </div>
  <div class="col-md-4">
    <h2>LIGHTNING TALK - DESIGN</h2>
    <p>Design centrado ao código. Mostre sua ideia de como um bom design pode transformar produtos e códigos.</p>
    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
  </div>
</div>
